/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 12px 120px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header-list li {
    width: 63px;
    margin-right: 17px;
}

.header-list li:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #2F281E;
    transition: .1s;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #FF9900;
}

.sign-in, .sing-up {
    width: 104px;
    height: 46px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #173A56;
    transition: .3s;

}

.sign-in:hover, .sign-in:focus, .sign-in:active {
    background: #BCD0E5;
}

.sing-up {
    width: 113px;
    background-color: #FF9900;
    color: #fff;
    margin-left: 15px;
}


.sing-up:hover, .sing-up:focus, .sing-up:active {
    opacity: .75;    
}
